@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Noto+Serif&family=Roboto:wght@300&display=swap');

body {
	background-color: #F1EDE2;
	font-family: Noto Serif, serif;
	font-size: medium;
	counter-reset: section;
        line-height: 1.7;
  }


h1 {
	font-family: Cinzel, serif;
	font-size: xx-large; 
	text-align:	left; 
	counter-reset: subsection;
  }

h2 {
	font-family: Cinzel, serif;
	font-size: x-large;
	text-align: left;
	counter-reset: subsubsection;
}

h3 {
	font-family: Noto Serif, serif;
	font-size: larger;
	text-align: left;
}


h4 {
	font-family: Noto Serif, serif;
	font-size: larger;
	text-align: left;
}

.theorem::before {
	background-color: #f8f4e8;
	font-family: Cinzel, serif;
	font-size: larger;
	font-style: normal;
        font-weight: bold;
	text-align: center;
	counter-increment: section;
  content: "Theorem " counter(section) ": ";
  border: 2px red;
  border-radius: 5px;
  padding: 4px;
  line-height: 1.7;
}

.theorem {
	background-color: #f8f4e8;
	border: none;
    border-radius: 2pt;
    box-shadow: 0 0 3pt 2pt grey;
    outline: none;
    transition: .1s;
	font-family: Noto Serif, serif;
	font-size: medium;
	font-style: italic;
	margin: 40px;
	padding: 10px;
        line-height: 1.7;
}


.proposition::before {
	background-color: #f8f4e8;
	font-family: Cinzel, serif;
	font-size: large;
	font-style: normal;
	text-align: center;
	counter-reset: subsection;
	counter-increment: subsubsection;
  content: "Proposition " counter(subsubsection) ": ";
  border: 2px  red;
  border-radius: 5px;
  padding: 4px;
  line-height: 1.7;
}

.proposition {
	background-color: #f8f4e8;
	border: none;
    border-radius: 2pt;
    box-shadow: 0 0 3pt 2pt grey;
    outline: none;
    transition: .1s;
	font-family: Noto Serif, serif;
	font-size: medium;
	font-style: italic;
	margin: 40px;
	padding: 10px;
        line-height: 1.7;
}

.lemma::before {
	counter-increment: subsubsection;
	background-color: #f8f4e8;
	font-family: Cinzel, serif;
	font-size: large;
	font-style: normal;
	text-align: center;
  content: "Lemma " counter(section) ": ";
  border: 2px  red;
  border-radius: 5px;
  padding: 4px;
  line-height: 1.7;
}

.lemma {
	background-color: #f8f4e8;
	border: none;
    border-radius: 2pt;
    box-shadow: 0 0 3pt 2pt grey;
    outline: none;
    transition: .1s;
	font-family: Noto Serif, serif;
	font-size: medium;
	font-style: italic;
	margin: 40px;
	padding: 10px;
        line-height: 1.7;
}

.definition {
	background-color: #f8f4e8;
	border: none;
    border-radius: 2pt;
    box-shadow: 0 0 3pt 2pt grey;
    outline: none;
    transition: .1s;
	font-family: Noto Serif, serif;
	font-size: medium;
	margin: 40px;
	padding: 10px;
        line-height: 1.7;
}


.definition::before {
	counter-increment: subsubsection;
	font-family: Cinzel, serif;
	background-color: #f8f4e8;
	font-size: large;
	content: "Definition " counter(subsubsection) ": ";
	border: 2px;
  border-radius: 5px;
  padding: 4px;
  line-height: 1.7;
}


.eg::before {
	counter-increment: section;
	background-color: #f8f4e8;
	font-family: Cinzel, serif;
	font-size: large;
  content: "Example " counter(section) ": ";
  border: 2px;
  border-radius: 5px;
  padding: 4px;
  line-height: 1.7;
}

.eg {
	background-color: #f8f4e8;
	border: none;
    border-radius: 2pt;
    box-shadow: 0 0 3pt 2pt grey;
    outline: none;
    transition: .1s;
	font-family: Noto Serif, serif;
	font-size: medium;
	margin: 40px;
	padding: 10px;
        line-height: 1.7;
}


.exercise::before {
	counter-increment: section;
	background-color: #f8f4e8;
	font-family: Cinzel, serif;
	font-size: large;
  content: "Exercise " counter(section) ": ";
  border: 2px;
  border-radius: 5px;
  padding: 4px;
  line-height: 1.7;
}

.exercise {
	background-color: #f8f4e8;
	border: none;
    border-radius: 2pt;
    box-shadow: 0 0 3pt 2pt grey;
    outline: none;
    transition: .1s;
	font-family: Noto Serif, serif;
	font-size: medium;
	margin: 40px;
	padding: 10px;
        line-height: 1.7;
}


.title {
	font-family: Cinzel, serif;
	font-size: xx-large; 
}
